*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
h1{
    font-family: 'Arizonia', cursive;
    font-size: 100px;
    font-weight: 10;
    letter-spacing: 5px;
}
.text{ 
    height: 400px;
    width: 500px;
    color: coral;
    text-align: center;
    padding: 30px;
    margin-top: 10%;
    margin-left: 50%;
}
section span{
    position:absolute;
    background: #fff;
    pointer-events: none;
    background-size: cover;
    animation: animate 6s linear forwards;
}
@keyframes animate{
    0%{
        transform: perspective(500px) rotateY(0deg)translateX(-250px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: perspective(500px) rotateY(50deg) translateX(1000%);
        opacity: 0;
    }
}